*{
    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: "Space Grotesk", serif;
}

img{
    width: 100%;
}

.block{
    margin: 60px auto 0;
    max-width: 1300px;
    width: 100%;
}


/* Header Begin */
header{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    justify-content: space-between;
    max-width: 220px;
    width: 100%;
}

.img_logo{
    max-width: 35px;
    width: 100%;
}

.logo_title{
    max-width: 171px;
    width: 100%;
    font-weight: 600;
    font-size: 36px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 811px;
    width: 100%;
}

.menu_item{
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

.menu_link{
    border-radius: 10px;
    border: solid 1px #000;
    padding: 20px;
    max-width: 231px;
    width: 100%;
}

/* Header End */

/* Main Begin */

.main_head{
    display: flex;
    flex-direction: column;
}

.main_head div{
    display: flex;
    justify-content: space-between;
}

.main_head_title{
    display: flex;
    flex-direction: column;
    max-width: 531px;
    width: 100%;
}

.main_head_title h1{
    font-weight: 700;
    font-size: 60px;
}
.main_head_title p{
    font-weight: 300;
    font-size: 20px;   
}
.main_head_title input{
    border-radius: 20px;
    padding: 20px 35px;
    background-color: #000;
    color: #fff;
    max-width: 264px;
    width: 100%;
    font-weight: 300;
    font-size: 20px;  
}

.megaphone{
    max-width: 600px;
}

.company{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.company li{
    height: 48px;
    width: auto;
}

.company img {
    filter: grayscale(100%);
    transition: filter 0.3s ease; /* Додаємо плавний перехід для ефекту */
}

.company img:hover {
    filter: grayscale(0%); /* Повертаємо кольори при наведенні */
}

.services{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
}

.services_title{
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.services_title h2{
    padding: 0 10px;
    background-color: #B9FF66;
    font-weight: 500;
    font-size: 40px;
}

.services_title p{
    font-weight: 300;
    font-size: 18px;
}

.services_info{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.services_info > div{
    display: flex;
    justify-content: space-between;
    max-width: 498px;
    width: 100%;
    height: 208px;
    padding: 50px;
    border: solid 1px #000;
    border-radius: 40px;
}

.services_info div div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 221px;
    width: 100%;
    height: 210px;
}

.services_info div div h3{
    padding: 0 7px;
    border-radius: 15px;
    background-color: #B9FF66;
    font-weight: 500;
    font-size: 30px;
}

.services_info div div a{
    margin-top: 93px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #000;
}

.services_info div div img{
    padding-right: 15px;
    max-width: 41px;
}

.service_img{
    max-width: 210px;
}

.services_info > div:nth-child(2),
.services_info > div:nth-child(5),
.services_info div:nth-child(6) div h3{
    background-color: #B9FF66;
}
.services_info div:nth-child(2) div h3,
.services_info div:nth-child(3) div h3,
.services_info div:nth-child(5) div h3{
    background-color: #fff;
}

.services_info > div:nth-child(3),
.services_info > div:nth-child(6){
    background-color: #191A23;
}
.services_info div:nth-child(3) div a,
.services_info div:nth-child(6) div a{
    color: #fff;
}

.response{
    margin-top: 123px;
    padding: 60px;
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
    background-color: #F3F3F3;
    position: relative;
}

.response div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 500px;
    width: 100%;
    height: 227px;
}

.response h3{
    font-weight: 500;
    font-size: 30px;
}

.response p{
    font-weight: 500;
    font-size: 18px;
}

.response input{
    padding: 20px 35px;
    background-color: #000;
    border-radius: 14px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.response img{
    max-width: 359px;
    position: absolute;
    top: -28px;
    right: 135px;
}

.studies_title{
    margin-top: 164px;
    display: flex;
}

.studies_title p:nth-child(1),
.working p:nth-child(1),
.team p:nth-child(1){
    margin-right: 40px;
    padding: 0 7px;
    background-color: #B9FF66;
    border-radius: 10px;
    font-weight: 500;
    font-size: 40px;
}

.studies_title p:nth-child(2),
.working p:nth-child(2),
.team p:nth-child(2){
    font-weight: 400;
    font-size: 18px;
}

.studies_info{
    margin-top: 80px;
    display: flex;
    justify-content:space-around;
    padding: 70px 60px;
    background-color: #000;
    gap: 64px;
}

.studies_info div{
    display: flex;
    flex-direction: column;
}

.studies_info p{
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.studies_info a{
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    color: #B9FF66;
    text-decoration: none;
}

.studies_info img{
    max-width: 17px;
}
.studies_info hr{
    margin-top: 0;
}

.working{
    margin-top: 140px;
    display: flex;
}

.working_info{
    margin-top: 68px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.working_info>div{
    padding: 41px 60px;
    border-radius: 30px;
    border: solid 2px #000;
}

.working_info> div:nth-child(1) {
    background-color: #B9FF66;
}

.working_info_title,
.working_info_other{
    display: flex;
    justify-content: space-between;
}

.working_info_title div,
.working_info_other div{
    display: flex;
    align-items: center;
}

.working_info_title h1,
.working_info_other h1{
    margin-right: 25px;
    font-weight: 700;
    font-size: 60px;
}

.working_info_title p,
.working_info_other p{
    font-weight: 500;
    font-size: 30px;
}

.working_info_title img,
.working_info_other img{
    max-width: 58px;
}

.working_info hr{
    margin: 30px 0;
    height: 1px;
    background-color: #000;

}

.working_info > div > p{
    font-weight: 300;
    font-size: 18px;
}

.team_section{
    display: flex;
    flex-direction: column;
}

.team{
    margin-top: 152px;
    display: flex;
}

.team_info{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 80px;
}

.team_info>div{
    padding: 40px 35px;
    border-radius: 45px;
    border: solid #000 1px;
    display: flex;
    flex-direction: column;
    max-width: 330px;
    width: 100%;
}

.team_info_title{
    display: flex;
    justify-content: space-between;
}

.team_info_title_foto{
    max-width: 106px;
}

.team_info_title div{
    margin: 0 10px 0 20px;
    align-self: flex-end;
}

.team_info_title h4{
    font-weight: 500;
    font-size: 20px;
}

.team_info_title p{
    font-weight: 400;
    font-size: 18px;
}

.team_info_title_icon{
    max-width: 34px;
    align-self: flex-start;
}

.team_info hr{
    margin: 28px 0;
}

.team_info_text{
    font-weight: 500;
    font-size: 18px;
}

.team_see{
    display: flex;
    margin-top: 40px;
    padding: 20px 76px;
    background-color: #191A23;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    max-width: 117px;
    width: 100%;
}

.team_section a{
    align-self: flex-end;
}

/* Main End */

/* Footer Begin */

footer {
    display: flex;
    flex-direction: column;
    padding: 55px 60px 0;
    border-radius: 10px 10px 0 0;
    background-color: #292A32;
}

.footer_head{
    display: flex;
    justify-content: space-between;
}

.logo_title2{
    max-width: 171px;
    width: 100%;
    font-weight: 600;
    font-size: 36px;
    color: #fff;
}

.menu_footer{
    max-width: 501px;
    width: 100%;
}

.menu_item_footer{
    font-weight: 300;
    font-size: 18px;
    color: #fff;
}

.social{
    max-width: 130px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social_link{
    max-width: 30px;
    width: 100%;
    height: 30px;
}

.footer_info{
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
}

.footer_info_contacs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 332px;
    width: 100%;
    color: #fff;
}

.footer_info_contacs h4{
    padding: 0 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 30px;
    background-color: #B9FF66;
    color: #000;
}

.footer_info_contacs a{
    margin-top: 27px;
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
}
.footer_info_contacs p{
    margin-top: 27px;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
}

.footer_info_form{
    display: flex;
    justify-content: space-between;
    padding: 58px 40px;
    background-color: #292A32;
    max-width: 634px;
    width: 100%;
}

.form-email{
    padding: 22px 35px;
    border: solid #fff 1px;
    border-radius: 20px;
    font-weight: 300;
    font-size: 20px;
    background-color: #292A32;
    color: #fff;
    max-width: 285px;
    width: 100%;
}

.form-but{
    border-radius: 20px;
    font-weight: 300;
    font-size: 20px;
    background-color: #B9FF66;
    max-width: 249px;
    width: 100%;
}

hr{
    margin-top: 50px;
}

.police{
    display: flex;
    margin: 50px 0;
}

.police p{
    padding-right: 40px;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
}
/* Footer End */